@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background: #fffff0;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9e8bd;
    clip-path: circle(70% at right -20% );
}
header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 150px;
}
header .navigation{
    position: relative;
    display: flex;
    margin-bottom: 20px;

}
header .navigation li{
    list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: green;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.content .textbox{
position: relative;
max-width: 600px;
margin-right: 20px ;
}
.content .textbox h2{
    color:black ;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}
.content .textbox p{
    color: black;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: green;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textbox a:hover{
    background: #fff;
    color: green;
    border: 1px solid black;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .content .imgbox{
    margin-top: 5px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
  }
  .content .imgbox img{
    max-width: 500px;
  }
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-left{
    background-image:none;
  }
  
